@charset "UTF-8";
/*------------------base------------------*/
/*-------------обнуление css-----------------------*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none;
  color: inherit; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit; }

body {
  overflow-x: hidden;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #fff;
  background: #f8f7f7;
  background: url(./../../img/main-bg/main-bg.svg) no-repeat left 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-weight: 400; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; }

/*------------------blocks----------------*/
.nav {
  position: relative;
  padding: 40px 0;
  display: flex;
  width: 100%;
  margin: 0 auto; }
  .nav__logo {
    position: absolute;
    margin-top: 25px;
    cursor: pointer;
    z-index: 50; }
  .nav__inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    font-weight: inherit; }
  .nav__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    margin-right: 100px; }
  .nav__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px; }
    .nav__buttons__item {
      cursor: pointer; }
      .nav__buttons__item + .nav__buttons__item {
        margin-left: 30px; }
  .nav__phone {
    position: relative;
    font-family: "Raleway Black", sans-serif;
    color: #fff;
    padding: 5px;
    font-weight: 800;
    margin-right: 30px;
    vertical-align: middle; }
    .nav__phone a {
      padding-left: 30px; }
  .nav__phone::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(./../../img/nav/phone.svg) no-repeat;
    top: 1px;
    z-index: -1; }
  .nav .search__icon {
    position: relative; }
  .nav .search__modal {
    position: absolute;
    top: 40px;
    right: 0;
    display: none; }
    .nav .search__modal img {
      display: none; }
    .nav .search__modal__open {
      display: block; }
  .nav .search__input {
    padding: 20px;
    width: 410px;
    border-radius: 10px;
    text-align: left;
    box-sizing: border-box; }
    .nav .search__input::placeholder {
      opacity: 0.4; }
  .nav__image-text {
    position: absolute;
    right: 0;
    top: 165px; }

.menu__item {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-decoration: none; }

.header {
  display: flex;
  flex: 1 0 auto;
  height: 1000px; }

.footer {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 250px;
  background-color: #92b759; }
  .footer__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer__colum {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer__colum:first-child {
      width: 60%; }
    .footer__colum:last-child {
      width: 40%; }
  .footer__menu {
    display: flex;
    margin: 0 168px 0 75px;
    width: 100%;
    justify-content: space-between; }
    .footer__menu__colum {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      flex-wrap: wrap; }
    .footer__menu__item:not(:first-child) {
      margin-top: 18px; }
  .footer__icon {
    display: flex;
    flex-direction: column;
    align-items: start; }
    .footer__icon img:not(:first-child) {
      margin-top: 33px;
      height: 32px; }
  .footer__copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    white-space: nowrap;
    margin-right: 30px; }
