body {
  overflow-x: hidden;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #fff;
  background: #f8f7f7;
  background: url(./../../img/main-bg/main-bg.svg) no-repeat left 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-weight: 400;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
